version: '3.7'

services:
  php:
    image: "php:8.0"
    volumes:
      - "./:/app"
    working_dir: "/app"
    environment:
      - "ES_URL=http://elasticsearch:9200"
    depends_on:
      - elasticsearch

  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch-oss:7.4.0"
    environment:
      - "discovery.type=${ES_DISCOVERY_TYPE:-single-node}"
      - "ES_JAVA_OPTS=${ES_JAVA_OPTS:--Xms512m -Xmx512m}"
    ports:
      - "9200:9200"
